body { background: #79a; }

.tweet {
	background: #eee;
	background-color: rgba(255,255,255,0.7);
	color: #444;
	font: 12px sans-serif;
	margin: 1px 0;
	max-width: 270px;
	padding: 8px 8px 8px 64px;
	transition: background-color 0.5s;
}

.tweet:hover {
	background-color: rgba(255,255,255,0.9);
}

.tweeter, .tweet-time, .tweet-action {
	text-decoration: none;
}

.tweeter:focus .tweeter-name,
.tweeter:hover .tweeter-name,
.tweeter:focus .tweeter-screenname,
.tweeter:hover .tweeter-screenname,
.tweet-time:focus, .tweet-time:hover,
.tweet-action:focus, .tweet-action:hover {
	text-decoration: underline;
}

.tweeter-avatar {
	border: 1px solid #fff;
	float: left;
	margin-left: -58px;
	width: 48px;
	height: 48px;
}

.tweeter:focus .tweeter-avatar, .tweeter:hover .tweeter-avatar {
	border: 1px solid #777;
	box-shadow: 2px 2px 8px #999;
}

.tweeter-name {
	color: #555;
	font-size: 14px;
	font-weight: bold;
	padding-right: 1em;
}

.tweeter-screenname {
	color: #777;
	font-style: italic;
}

.tweet-time {
	color: #999;
	float: right;
	font-style: italic;
}

.tweet .tweet-text {
	clear: right;
	display: block;
	margin: 0;
	padding: 2px 0;
}

.tweet-actions {
	font-size: 12px;
}

.tweet-action {
	color: #777;
	padding: 2px 1em;
}
.tweet-action:focus, .tweet-action:hover {
	color: #444;
}

.tweet-icon {
	background-image: url(everything-spritev2.png);
	background-repeat: no-repeat;
	background-position: 0px 2px;
	display: inline-block;
	margin-top: 2px;
	width: 16px;
	height: 16px;
}
.retweetedby   .tweet-icon { background-position: -80px 2px; }
.tweet-reply:focus .tweet-icon, .tweet-reply:hover .tweet-icon {
	background-position: -16px 2px;
}
.tweet-retweet .tweet-icon { background-position: -80px 2px; }
.tweet-retweet:focus .tweet-icon, .tweet-retweet:hover .tweet-icon {
	background-position: -96px 2px;
}
.tweet-fav       .tweet-icon { background-position: -32px 2px; }
.tweet-fav:focus .tweet-icon, .tweet-fav:hover .tweet-icon {
	background-position: -48px 2px;
}
